{% load staticfiles %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
<a href="/accounts/register">Accounts | </a></li>
<a href="/questions/">Questions | </a></li>
<a href="/edit/">Edit Profile | </a></li>

            <!--<ul class="nav navbar-nav">-->

                <!--<li class="dropdown">-->
                  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                      <!--Region<span class="caret"></span>-->
                  <!--</a>-->
                  <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Americas</a></li>-->
                    <!--<li><a href="#">Asia</a></li>-->
                    <!--<li><a href="#">Europe</a></li>-->
                    <!--<li><a href="#">Oceania</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="/">Resort</a></li>-->

            <!--</ul>-->




            {% if request.user.is_authenticated %}
                <p class="navbar-text pull-right">Logged In As: {{ request.user|capfirst }}</p>

            {% else %}

              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>

            {% endif %}

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
